body {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

div {
    border: 1px red solid;
}

.info {
    width: 40%;
}


/* Left side */
.animated {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 60%;
    background: rgb(97,166,255);
    background: linear-gradient(51deg, rgba(97,166,255,1) 10%, rgba(107,255,211,1) 99%);
}

/* Radar effect */
.radar {
    position: absolute;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.radar img {
    position: relative;
    height: inherit;
    top: 50%;
    left: 50%;
    opacity: .2;
    transform-origin: 0% 0%;
    animation: clockwise 5s linear infinite ;
}



@keyframes clockwise {
    from { transform: rotate(0deg);     }
    to   { transform: rotate(360deg);    }
}


/* Faded rings effect */

.fading-ring {
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.rings {
    background-color: white;
    border-radius: 50%;
    border-color: transparent;
    height: inherit;
    width: 100%;
    animation: pulse 3s linear infinite;
    
}

@keyframes pulse {
    from {
        transform: scale(0);
        opacity: .2;
    } to { 
        transform: scale(1);
        opacity: 0;
    }
} 

.ring-5 {
    animation-delay: .2s;
}

.ring-4 {
    animation-delay: .4s;
}

.ring-3 {
    animation-delay: .6s;
}

.ring-2 {
    animation-delay: .8s;
}

.ring-1 {
    animation-delay: 1s;
}

