@font-face {
    font-family: Shabnam;
    src: url('./Assets//Fonts/Shabnam.eot');
    src: url('./Assets//Fonts/Shabnam.woff') format('woff'),
         url('./Assets/Fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
}
  
@font-face {
    font-family: Shabnam;
    src: url('Shabnam-Bold.eot');
    src: url('./Assets/Fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}
  
  
@font-face {
    font-family: Shabnam;
    src: url('Shabnam-Light.eot');
    src: url('./Assets/Fonts/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Comfortaa;
    src: url('Comfortaa-Regular');
    src: url('./Assets/Fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url('Comfortaa-Bold.eot');
    src: url('./Assets/Fonts/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Comfortaa;
    src: url('Comfortaa-Light.eot');
    src: url('./Assets/Fonts/Comfortaa-Light.ttf') format('truetype');
    font-weight: 300;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
}

/* div {
    border: 1px red solid;
} */



/* Left side */
.animated {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 60%;
    background: rgb(97,166,255);
    background: linear-gradient(51deg, rgba(97,166,255,1) 10%, rgba(107,255,211,1) 99%);
}

/* Radar effect */
.radar {
    position: absolute;
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.radar img {
    position: relative;
    height: inherit;
    top: 50%;
    left: 50%;
    opacity: .2;
    transform-origin: 0% 0%;
    animation: clockwise 5s linear infinite ;
}



@keyframes clockwise {
    from { transform: rotate(0deg);     }
    to   { transform: rotate(360deg);    }
}


/* Faded rings effect */

.fading-ring {
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
}

.rings {
    background-color: white;
    border-radius: 50%;
    border-color: transparent;
    height: inherit;
    width: 100%;
    animation: pulse 3s linear infinite;
    
}

@keyframes pulse {
    from {
        transform: scale(0);
        opacity: .2;
    } to { 
        transform: scale(1);
        opacity: 0;
    }
} 

.ring-5 {
    animation-delay: .2s;
}

.ring-4 {
    animation-delay: .4s;
}

.ring-3 {
    animation-delay: .6s;
}

.ring-2 {
    animation-delay: .8s;
}

.ring-1 {
    animation-delay: 1s;
}


/* RIGHT SIDE */    

.info {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shabnam';
    direction: rtl;
}

.route {
    position: fixed;
    top: 3rem;
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 136, 221);
}

.form {
    width: 80%;
}


.button {
    margin-top: 2rem;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: 'Shabnam';
    background-color: #0093ED;
    border-color: transparent;
    border-radius: 3px;
    height: 50px;
}

/* INput box */

.input-box {
    display: flex;
    justify-content: flex-end;
    color: #A0A0A0;
}
input {
    padding-bottom: 10px;
    font-family: 'Shabnam';
    border: transparent;
    background: transparent;
    border-bottom: 1px #A0A0A0 solid;
    display: flex;
    align-self: center;
}


.input {
    margin: 1rem 0;
    width: 100%;
}
.icon {
    position: absolute;
    align-self: center;
    font-size: 1.5rem !important;
}

